-if address.resolutions_without_case
  .additional-address-information
    %hr.soften
    %h2
      Additional Information
    %ul
      -address.resolutions_without_case.each do |r|
        %li
          -if r.name == 'Demolition'
            This property was 
            -if r.dhash[:program_name] == "FEMA"
              demolished under by <b>FEMA</b>
            -elsif r.dhash[:program_name] == "NORA"
              sold to the state and demolished through the <b>Road Home</b> program
            -elsif r.dhash[:program_name] == "IDC"
              demolished because it was determined to be in <b>Imminent Danger of Collapse</b> 
            -elsif r.dhash[:program_name] == "SDER"
              demolished under the <b>City's Strategic Demolition</b> program
            -elsif r.dhash[:program_name] == "NOSD"
              demolished under the <b>City's Strategic Demolition</b> program
            -else
              demolished
          -elsif r.name == 'Foreclosure'
            This property foreclosed on by the city
            -if r.date
              =on =r.dhash[:sale_date].strftime("%-m/%-d/%y")
            -if d.dhash[:notes]
              the latest status was a 
              =d.dhash[:notes]
            on
            %b=d.dhash[:date_completed].strftime("%-m/%-d/%y")

          -elsif r.name == 'Maintenance'
            This lot was cleared by #{r.dhash[:program_name]} on
            =r.date.strftime("%-m/%-d/%y")
